:root {
  --card-animation-time: 0.3s;
  --card-animation-func: ease-out;
  --card-animation-props: width, height, opacity;
}

.container {
  display: flex;
  width: 200px;
  height: 90px;
}

.expanded {
  width: 100%;
  height: 50vh;
}

.expandedLarge {
  width: 100%;
  height: 150vh;
}

.hidden {
  width: 0px;
  height: 0px;
  opacity: 0;
}

.expanded,
.expandedLarge,
.hidden,
.container {
  transition-property: var(--card-animation-props);
  transition-duration: var(--card-animation-time);
  transition-timing-function: var(--card-animation-func);
}

@media only screen and (max-width: 600px) {
  .container {
    height: 120px;
  }
  .expandedLarge {
    height: 200vh;
  }
}
