.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.6);
  margin-bottom: 30px;
  align-items: center;
}

.cardInternal {
  width: calc(100% - 40px);
}
