.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: space-between;
}

.show,
.hide {
  transition-property: max-height, opacity;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
  overflow: clip;
  background-color: rgb(255, 255, 255, 0.6);
  padding: 5px;
}

.show {
  max-height: 250px;
  opacity: 1;
}

.hide {
  max-height: 0px;
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }
  .show {
    max-height: 500px;
    opacity: 1;
  }
}

.navButton {
  border: none;
  background-color: rgb(255, 255, 255, 0.6);
  font-family: inherit;
}

.navSection {
  margin-bottom: 20px;
}
