.contentTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  height: 30px;
  width: 30px;
  border: 0px;
  background-color: transparent;
  border-radius: 100%;
}

.closeButton:hover {
  background-color: rgb(128, 128, 128, 0.1);
}

.textHighlight {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .contentTitle {
    font-size: 25px;
  }
}
